<nav>
  <button mat-button routerLink="/administracion">
    agregar
  </button>
  <button mat-button routerLink="/importar">
    importar
  </button>
  <button mat-button>
    cerrar sesión
  </button>
</nav>
<div class="searcher">
  <h2 *ngIf="usingMocks()" style="color:chocolate;font-size:100px;margin:0;">Using Mocks</h2>
  <div>
    <mat-form-field class="form">
      <mat-label>Asegurado</mat-label>
      <input class="insured-input" #searchInput matInput type="text" 
            (input)="resetInsureds($event)">
      <button matSuffix *ngIf="searchInput.value" mat-icon-button aria-label="Clear" 
              (click)="clearInput(searchInput)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" 
            (click)="makeSearch(searchInput.value)">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<app-insureds [insureds]="insureds$"></app-insureds>