<div class="button-container">
  <button mat-fab [color]="'warn'" routerLink="/">
    <mat-icon class="icon-bigger">keyboard_backspace</mat-icon>
  </button>
  <mat-spinner *ngIf="loading()"></mat-spinner>
</div>

<div *ngIf="!loading()" style="height: 100%">
  <div>
    <h1
      *ngIf="usingMocks()"
      style="color: chocolate; font-size: 100px; margin: 0"
    >
      Using mocks
    </h1>
    <form [formGroup]="insuredForm" (ngSubmit)="handleSubmit()">
      <h1>Datos personales</h1>
      <div class="section">
        <div>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="firstname" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="lastname" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              matInput
              [matDatepicker]="bornPicker"
              [max]="maxDate"
              formControlName="born"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="bornPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #bornPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Descripción (opcional)</mat-label>
            <input matInput type="text" formControlName="description" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>DNI</mat-label>
            <input matInput type="text" formControlName="dni" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>CUIT (opcional)</mat-label>
            <input matInput type="text" formControlName="cuit" />
          </mat-form-field>
        </div>
        <div class="inside-items">
          <mat-form-field>
            <mat-label>Tel</mat-label>
            <input matInput #number type="text" [maxLength]="20"/>
          </mat-form-field>
        </div>
        <div class="inside-items">
          <div class="flexdiv">
            <mat-form-field>
              <mat-label>Descripción tel (opcional)</mat-label>
              <input matInput #desc type="text" [maxLength]="30"/>
            </mat-form-field>
            <button
              mat-fab
              color="warn"
              (click)="addPhone(number, desc)"
              [disabled]="number.value == '' ||
                          (phones.length > 2 && this.editingPhone() == null)"
            >
              <mat-icon>
                {{editingPhone() != null ? "edit" : "library_add"}}
              </mat-icon>
            </button>
            <button mat-fab *ngIf="editingPhone() != null"
                    (click)="deletePhone(number,desc)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <mat-list>
          <mat-label>Presione para editar</mat-label>
          <mat-list-item
            class="phone-list-item"
            style="cursor: pointer;"
            *ngFor="let phone of phones"
            (click)="editPhone(phone, number, desc)"
          >
            <span matListItemTitle>{{ phone.number }}</span>
            <span matListItemLine>{{ phone.description }}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <p *ngIf="phones.length == 0" class="error-advice">
        Por favor, ingrese al menos un teléfono
      </p>
      <h1>Dirección</h1>
      <div class="section">
        <div>
          <mat-form-field>
            <mat-label>Calle</mat-label>
            <input matInput type="text" formControlName="street" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Número</mat-label>
            <input matInput type="text" formControlName="number" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Localidad</mat-label>
            <input matInput type="text" formControlName="city" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Provincia</mat-label>
            <input matInput type="text" formControlName="province" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>País</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ country }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Piso (opcional)</mat-label>
            <input matInput type="number" formControlName="floor" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Departamento (opcional)</mat-label>
            <input matInput type="text" formControlName="departament" />
          </mat-form-field>
        </div>
      </div>
      <h1>Datos del seguro</h1>
      <div class="section">
        <div>
          <mat-form-field>
            <mat-label>Póliza (opcional)</mat-label>
            <input matInput type="text" formControlName="insurancePolicy"
                    placeholder="Fiat Mobi, Incendio, R.C"/>
          </mat-form-field>
        </div>
        <div class="inside-items">
          <mat-form-field>
            <mat-label>Compañía</mat-label>
            <mat-select formControlName="company">
              <mat-option
                *ngFor="let company of companies"
                [value]="company.id"
              >
                {{ company.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Matrícula</mat-label>
            <input matInput type="text" formControlName="license" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Carpeta</mat-label>
            <input matInput type="number" formControlName="folder" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Vencimiento de cuota</mat-label>
            <input matInput type="number" formControlName="paymentExpiration" />
            <mat-error *ngIf="!insuredForm.controls['paymentExpiration'].valid">
              {{getErrorMessage("paymentExpiration")}}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Vigencia</mat-label>
            <mat-date-range-input [rangePicker]="lifePicker">
              <input
                matStartDate
                placeholder="Inicio"
                formControlName="start"
              />
              <input  
                matEndDate 
                placeholder="Fin" 
                formControlName="end" 
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="lifePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #lifePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="policyStatus">
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-fab color="primary" [disabled]="!insuredForm.valid">
            <mat-icon class="icon-bigger">save</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
