div{
    text-align: center;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field{
    width: 80%;
}

.button-container{
    margin-top:3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10rem;
  }
  
.icon-bigger{
    margin-top:50%;
    font-size: 50px;
    height: 100px;
    width: 100px;
}

.section{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-container button{
    height: 100px;
    width: 100px;
}

.clicked{
    background-color:black;
}

.inside-items{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.flexdiv{
    display:flex;
    flex-direction: row;
    gap:1.5rem;
}

.error-advice{
    color: rgb(243, 87, 87);
}

.phone-list-item:hover{
    color:indigo;
    background-color: rgb(201, 201, 201);
}
