<div class="button-container">
    <button mat-fab matTooltip="volver" [color]="'warn'" routerLink="/">
        <mat-icon class="icon-bigger">keyboard_backspace</mat-icon>
    </button>
    <button mat-fab matTooltip="importar" [color]="'primary'"
            (click)="this.export.set(false)">
        <mat-icon class="icon-bigger">cloud_download</mat-icon>
    </button>
    <button mat-fab matTooltip="exportar" [color]="'primary'"
            (click)="this.export.set(true)">
        <mat-icon class="icon-bigger">cloud_upload</mat-icon>
    </button>
</div>

<div *ngIf="export() == false" class="main">
  <div class="import-input">
    <button mat-fab extended (click)="fileInput.click()"
            [disabled]="fileOk()"
            class="uploader-button"
            style="background-color: rgb(100, 190, 88);"
            >
      <mat-icon>insert_drive_file</mat-icon>
        {{ fileName() }}
    </button>
    <input hidden (change)="handleFileSelected($event)" #fileInput type="file"
            [multiple]="false" accept=".xls,.xlsx">
    <button mat-mini-fab [hidden]="!fileOk()"
            style="background-color: rgb(100,100,100);"
            (click)="clearSelection(fileInput)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-error>{{ error() }}</mat-error>
  <button mat-fab extended (click)="send()"
          [hidden]="!fileOk() || uploadResponse()"
          class="uploader-button"
          color="warn"
          >
    <mat-icon>send</mat-icon>
    Enviar al servidor
  </button>
  <mat-progress-bar mode="indeterminate" 
                    *ngIf="fileSended() && !uploadResponse()"></mat-progress-bar>

  <div *ngIf="uploadResponse() == true" class="main">
    <app-insureds [insureds]="insureds$" [isPreview]="true"></app-insureds>
    <div class="button-container-2">
      <button mat-raised-button color="warn" (click)="onCancel()" routerLink="/">
        Cancelar
      </button>
      <button mat-raised-button (click)="openDialog()" color="primary">
        Efectuar cambios
      </button> 
    </div>
  </div>
</div>

<app-export *ngIf="export() == true"></app-export>