
.input {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1.5rem;
}

.input h3{
  margin-top:3%;
}

.buttons{
  width:100%;
  margin-top:1.5%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:3rem;
}

.buttons button{
  margin-bottom:1.5%;
}

.uploader-button, .cancel-button{
  font-size: 110%;
  font-weight: 600;   
}

.uploader-button{
  width:20%;
}

.cancel-button{
  width:13%;
}