<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Matrícula</th>
    <th>Carpeta</th>
    <th>Vigencia</th>
    <th>Fecha de nacimiento</th>
    <th>Dirección</th>
    <th>DNI</th>
    <th>CUIT</th>
    <th>Productor</th>
    <th>Descripción</th>
  </tr>
  <tr *ngFor="let insured of insureds | async">
    <td>{{insured.firstname}}</td>
    <td>{{insured.lastname}}</td>
    <td>{{insured.license}}</td>
    <td>{{insured.folder}}</td>
    <td>{{insured.life}}</td>
    <td>{{insured.born}}</td>
    <td>{{insured.address}}</td>
    <td>{{insured.dni}}</td>
    <td>{{insured.cuit}}</td>
    <td>{{insured.producer}}</td>
    <td>{{insured.description}}</td>
  </tr>
</table>
